
    h1 {
      color: green;
    }
  p {
    color: #FFFFFF;
    font-family: tahoma;
    size: 16px;
  }
      ul {
        list-style-type: unordered;
        background-color: yellow;
      }

    h2{
      color: black;
      background-color: orange;
    }

        p{
          color: blue;
          font-family: helvetica;
          size: 60px;
        }

    ol {
      list-style-type: ordered;
      background-color: teal;
    }
